:root {
  --color-brand-primary-deep: #143182;
  --color-brand-primary-pure: #304ffe;
  --color-brand-primary-clear: #97b4ff;
  --color-brand-secondary-deep: #143182;
  --color-brand-secondary-pure: #304ffe;
  --color-brand-secondary-clear: #97b4ff;

  --color-font-strong: #1f2d30;
  --color-font-soft: #5e686a;
  --color-font-interactive: #143182;
  --color-font-inverted: #ffffff;
  --color-font-success: #148246;
  --color-font-warning: #b35900;
  --color-font-danger: #990000;
  --color-font-info: #003d52;

  --color-neutral-black: #1f2d30;
  --color-neutral-white: #ffffff;
  --color-neutral-gray-lightest: #fbfbfb;
  --color-neutral-gray-lighter: #eeefef;
  --color-neutral-gray-light: #cacdce;
  --color-neutral-gray-clear: #a6abac;
  --color-neutral-gray-dark: #82898b;
  --color-neutral-gray-darker: #5e686a;
  --color-neutral-gray-darkest: #3b4749;

  --color-support-success-deep: #148246;
  --color-support-success-pure: #50b43c;
  --color-support-success-clear: #bee6b4;
  --color-support-warning-deep: #b35900;
  --color-support-warning-pure: #fcc419;
  --color-support-warning-clear: #fff3bf;
  --color-support-danger-deep: #990000;
  --color-support-danger-pure: #dc1414;
  --color-support-danger-clear: #faaa96;
  --color-support-info-deep: #003d52;
  --color-support-info-pure: #18acc4;
  --color-support-info-clear: #bae2e8;

  --color-social-facebook: #4267b2;
  --color-social-google: #4285f4;
  --color-social-instagram: #c13584;
  --color-social-linkedin: #0a66c1;
  --color-social-slack: #4a154b;
  --color-social-twitter: #1da1f2;
  --color-social-whatsapp: #25d366;
  --color-social-youtube: #ff0000;
}