:root {
  --color-brand-primary-deep: #d31941;
  --color-brand-primary-pure: #e02b4a;
  --color-brand-primary-clear: #ed3a53;
  --color-brand-secondary-deep: #f3a800;
  --color-brand-secondary-pure: #ffb300;
  --color-brand-secondary-clear: #ffc92c;

  --color-font-strong: #1f2d30;
  --color-font-soft: #5e686a;
  --color-font-interactive: #143182;
  --color-font-inverted: #ffffff;
  --color-font-success: #148246;
  --color-font-warning: #b35900;
  --color-font-danger: #990000;
  --color-font-info: #003d52;

  --color-neutral-black: #1f2d30;
  --color-neutral-white: #ffffff;
  --color-neutral-gray-lightest: #f7f7f7;
  --color-neutral-gray-lighter: #F0F0F0;
  --color-neutral-gray-light: #cbcbcb;
  --color-neutral-gray-pure: #a6abac;
  --color-neutral-gray-dark: #82898b;
  --color-neutral-gray-darker: #3a3a3a;
  --color-neutral-gray-darkest: #353535;

  --color-support-success-deep: #148246;
  --color-support-success-pure: #50b43c;
  --color-support-success-clear: #bee6b4;
  --color-support-warning-deep: #b35900;
  --color-support-warning-pure: #fcc419;
  --color-support-warning-clear: #fff3bf;
  --color-support-danger-deep: #990000;
  --color-support-danger-pure: #dc1414;
  --color-support-danger-clear: #faaa96;
  --color-support-info-deep: #003d52;
  --color-support-info-pure: #18acc4;
  --color-support-info-clear: #bae2e8;

  --color-social-facebook: #4267b2;
  --color-social-google: #4285f4;
  --color-social-instagram: #c13584;
  --color-social-linkedin: #0a66c1;
  --color-social-slack: #4a154b;
  --color-social-twitter: #1da1f2;
  --color-social-whatsapp: #25d366;
  --color-social-youtube: #ff0000;
  --color-social-pinterest: #e60023;
  --color-social-google-analytics: #F79836;

  --gradient-social-instagram: linear-gradient(45deg, #f09433 0%, #dc2743 50%, #bc1888 100%);
  --gradient-social-whatsapp: linear-gradient(45deg, #25d366 0%, #5dfa7a 100%);
  --gradient-social-google-my-business: linear-gradient(45deg, #4285f4 0%, #78affc 100%);
}
