$button-colors: (
  primary: 'brand-primary',
  secondary: 'brand-secondary',
  success: 'support-success',
  warning: 'support-warning',
  danger: 'support-danger',
  info: 'support-info'
);

.btn {
  @include button-reset;

  background-color: var(--color-neutral-gray-dark);
  border-radius: $default-border-radius;
  color: var(--color-font-inverted);
  cursor: pointer;
  font-size: rem(14);
  padding: 10px 12px;
}

.btn--default {
  background-color: transparent;
  border: 1px solid var(--color-neutral-gray-light);
  color: var(--color-neutral-gray-dark);
}

.btn--default:hover {
  border: 1px solid var(--color-neutral-gray-pure);
  color: var(--color-neutral-gray-darker);
}

@each $name, $color-key in $button-colors {
  .btn--#{$name} {
    background-color: var(--color-#{$color-key}-pure);
    font-weight: $font-weight-bold;
  }

  .btn--#{$name}:hover {
    background-color: var(--color-#{$color-key}-deep);
  }
}


